.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--bottom-nav-height);
  background: var(--gs-bgcolor-one);
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  border-top: var(--gs-border);
  z-index: 1000;
}

.bottomNavIcon {
  cursor: pointer;
}

.active img {
  filter: none;
}

.greyScale {
  filter: grayscale(100%);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

.cardGameOption {
  position: fixed;
  bottom: calc(var(--bottom-nav-height) + 25px);/**/
  left: 0;
  right: 0;
  height: 60px;
  width: calc(100% - 30px);
  background: var(--gs-bgcolor-one);
  border-top: var(--gs-border);
  display: flex;
  flex-direction: row;
  gap:20px;
  overflow-x: scroll;
  padding: 12px 15px;
  z-index: 1000;
  animation-duration: 0.3s;
}

.slideIn {
  animation-name: slideIn;
}

.slideOut {
  animation-name: slideOut;
}

.gameSelect{
  width: 40px;
  flex:0 0 auto;
}

.gameSelect img {
  width: 40px;
    flex:0 0 auto;

}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slideOut {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}
