.card-list {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  align-content: flex-start;
  justify-content: center;
  min-height: 100px;
  line-height: 0;
  overflow-y: auto;
}

.card-item {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.card-item:focus {
  outline: none;
}


.card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.arrow-left {
  position: fixed;
  color: var(--gs-color-secondary);
  background-color: var(--gs-bgcolor-one);
  border: 2px solid var(--gs-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  z-index: 800;
}
.desktop-back {
  top: calc(var(--top-nav-height) + 20px);
  right: 20px;
  border-radius: 20px;
  font-size: 18px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.desktop-back svg {
  width: 20px;
  height: 20px;
}

.mobile-back {
  bottom: calc(var(--bottom-nav-height) + 40px);
  right: 20px;
  padding: 5px;
  border-radius: 50%;
}

.mobile-back svg {
  width: 35px;
  height: 35px;
}
