.card-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.c-height-mobile {
  height: calc(
    100vh - var(--bottom-nav-height) - var(--db-main-collapsed) - 40px
  );
}
.uc-height-mobile {
  height: calc(
    100vh - var(--bottom-nav-height) - var(--db-main-uncollapsed) - 40px
  );
}
.c-height-desktop {
  height: calc(
    100vh - var(--top-nav-height) - var(--db-main-collapsed) - 40px
  );
}
.uc-height-desktop {
  height: calc(
    100vh - var(--top-nav-height) - var(--db-main-uncollapsed) - 40px
  );
}
.db-bar {
  height: fit-content;
}
.cardlistscroll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  height: inherit;
  gap: 10px;
  padding: 20px;
  align-content: flex-start;
  justify-content: center;
}

.card-item {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconbg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  opacity: 0.2;
  filter: grayscale(0.8);
  color: var(--gs-bgcolor-three);
}

.empty {
  color: var(--gs-bgcolor-three);
}
