/* globals.css */
:root {
  --gs-color-primary: #7c4fff;
  --gs-color-primary-light: #c8a2c8;
  --gs-color-secondary: #e33c58;
  --gs-bgcolor-one: rgb(16, 20, 24);
  --gs-bgcolor-two: #121212;
  --gs-bgcolor-two-a: #1c1c1c;
  --gs-bgcolor-three: #26262d;
  --gs-fontcolor-one: #f2f3f8;
  --gs-fontcolor-two: #121212;
  --gs-fontcolor-three: #9ca3af;
  --gs-formgrey: #404040;
  --gs-bordercolor: rgb(41, 51, 62);
  --gs-border: 1px solid rgb(41, 51, 62);
  --font-type-one: Roboto, sans-serif;
  --bottom-nav-height: 70px;
  --top-nav-height: 64.5px;

  --db-main-collapsed: 60px;
  --db-main-uncollapsed: 223px;

  --gs-font-family-noto: var(--font-noto-sans, sans-serif);
  --gs-font-family-titillium: var(--font-titillium, sans-serif);
  --gs-font-optical-sizing: auto;
  --gs-font-weight: 500;
  --gs-font-style: normal;
  --gs-font-variation-settings: "wdth" 100;
}


body {
  margin: 0;
  background-color: rgb(16, 20, 24);
}

body.light {
  --gs-color-primary: #c8a2c8;
  --gs-color-secondary: #ef5050;
  --gs-bgcolor-one: #f2f3f8;
  --gs-fontcolor-one: #121212;
}

/* For WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* In your Layout.module.css or globals.css */
html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Prevent bounce/rubber band effect */
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
}

button, input, a, textarea, select, div {
  -webkit-tap-highlight-color: transparent; /* Removes blue tap highlight on mobile */
  outline: none; /* Removes focus outline (replace with a better a11y alternative if needed) */
}